body {
    background-color: #5b8bdf;
}

.inicio {
    color: white;
}

.bem {
    text-align: center;
}

.inf {
    text-align: center;
    border-radius: 10px;
}

button {
    text-align: center;
    width: 90px;
    height: 30px;
    color: white;
    background-color: rgb(15, 15, 133);
    border: rgb(15, 15, 133);
    border-radius: 8px;
}

body{
text-align: center;
}
